<template>
  <div class="page" data-name="catalog">
    <div class="navbar">
      <div class="navbar-inner sliding">

        <div class="left">
          <a href="#" class="link icon-only">
            <i class="icon f7-icons ios-only">email</i>
            <i class="icon material-icons md-only">email</i>
          </a>
        </div>

        <div class="title sliding" style="margin-left: 0px; left: 0px;">Informasi</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list links-list" style="font-size: small;">
        <ul>
          {{#each products}}
            <li >                                
                <a href="/product/{{id}}/" onclick="updateRead('{{id}}')">
                    {{#if read}}
                    <i style="margin-left: 5px;">{{title}}</i> 
                    {{else}}
                    <b style="margin-left: 5px;"><i>{{title}}<i></b>
                    {{/if}}

                    <span style="font-size: xx-small;">[{{id}}]</span>
                </a>

            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {
        products: this.$root.products,
      };
    }
  };
</script>
