<div class="page" data-name="daftar">
  <div class="navbar">
    <div class="navbar-inner sliding">

        <div class="left">
          <a href="#" class="link icon-only">
            <i class="icon f7-icons ios-only">books</i>
            <i class="icon material-icons md-only">books</i>
          </a>
        </div>

      <div class="title sliding" style="margin-left: 0px; left: 0px;">Pendaftaran Pasien</div>
    </div>
  </div>
  
  <div class="page-content">    
  <form class="list form-store-data" id="my-form">
    <div class="list no-hairlines-md" style="margin-top: 0px;margin-bottom: 5px;">
      <ul>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama Dokter</div>
              <div class="item-input-wrap">
                <input type="hidden" id="dokId" name="dokId">
                <input type="hidden" id="dokApi" name="dokApi">
                <input type="text" id="dokNama" readonly="true" >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Spesialisasi</div>
              <div class="item-input-wrap">
                <input type="text" id="dokSpesialisasi" readonly="true" >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Klinik</div>
              <div class="item-input-wrap">
                <input type="text" id="dokKlinik" readonly="true" >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Alamat</div>
              <div class="item-input-wrap">
                <input type="text" id="dokKlinikALamat" readonly="true" >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Tanggal Berobat</div>
              <div class="item-input-wrap">
                <input type="date" placeholder="Tanggal Lahir" value="2019-01-01" id="pasienTanggalBerobat" />
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Status Pasien</div>
              <div class="item-input-wrap">
                <select id="jenispasien" onchange="gantiPasien(this.value)">
                  <option value="0">Pasien Baru</option>
                  <option value="1" selected="true">Pasien Lama</option>
                </select>
              </div>
            </div>
          </div>
        </li>

        <div id="liPasienLama">
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama Pasien</div>
              <div class="item-input-wrap" id="namaLama">
              </div>
            </div>
          </div>
        </li>
        </div>

        <div id="liPasienBaru">
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama Pasien</div>
              <div class="item-input-wrap">
                <input type="text" id="pasienNama" placeholder="Nama Pasien"/ >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Jenis Kelamin</div>
              <div class="item-input-wrap">
                <select id="pasienGender">
                  <option value="1">Laki-Laki</option>
                  <option value="2">Perempuan</option>
                </select>
              </div>
            </div>
          </div>
        </li>


        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Identitas KTP / SIM</div>
              <div class="item-input-wrap">
                <input type="text" id="pasienIdentitas" placeholder="Nomor Identitas KTP / SIM"/ >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Tanggal Lahir</div>
              <div class="item-input-wrap">
                <input type="date" placeholder="Tanggal Lahir" value="2000-01-01" id="pasienLahir" />
              </div>
            </div>
          </div>
        </li>
        </div>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nomor BPJS</div>
              <div class="item-input-wrap">
                <input type="text" id="pasienBpjs" placeholder="Nomor BPJS jika ada"/ >
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Penanggung Jawab</div>
              <div class="item-input-wrap">
                <input type="text" id="pasienPenanggungJawab" placeholder="Penanggung Jawab Pasien" readonly="true" />
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Telp / HP</div>
              <div class="item-input-wrap">
                <input type="text" id="pasienPenanggungJawabTelp" placeholder="Telepon Penanggung Jawab"/>
              </div>
            </div>
          </div>
        </li>


      </ul>
      <p class="row">
        <a href="#" class="col button button-round button-fill" style="margin-top: 20px;margin-bottom:20px;margin-left: 40px;margin-right: 40px;" onclick="prosesDaftar()">Mendaftar</a>
      </p>

    </div>

  </div>
  </div>
</form>
</div>
