<template>
  <div class="page" data-name="catalog">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back" onclick="backToList()" id="btback">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title"></div>
      </div>
    </div>

    <div class="page-content" style="background-color: white;">
      <div class="block-title">{{product.title}}</div>
      <div class="block block-strong" style="margin-bottom: 0px; text-align: justify;">
        {{product.description}}
      </div>
      <div class="block block-strong" style="margin-top: 0px;padding-top: 20px ; text-align: justify;">
        Apabila pasien ingin membatalkan rencana berobat, silahkan tekan tombol dibawah ini.
        <input type="hidden" id="idproduck" value="{{product.id}}">
        <input type="hidden" id="norm" value="{{product.norm}}">
        <input type="hidden" id="tgdaftar" value="{{product.tgdaftar}}">
        <input type="hidden" id="idDokter" value="{{product.idDokter}}">
        <a href="#" onclick="batal()" class="col button button-raised" style="margin-left: 50px;margin-right:50px;margin-top: 20px;">Batal</a>

      </div>
    </div>
  
  </div>
</template>
<script>
  return {
    data: function () {
      var productId = this.$route.params.id;
      var currentProduct;
      this.$root.products.forEach(function (product) {
        if (product.id === productId) {
          currentProduct = product;
        }
      });
      return {
        product: currentProduct,
      };
    }
  };
</script>
