<div class="page" data-name="settings">
  <div class="navbar">
    <div class="navbar-inner sliding">

        <div class="left">
          <a href="#" class="link icon-only">
            <i class="icon f7-icons ios-only">settings</i>
            <i class="icon material-icons md-only">settings</i>
          </a>
        </div>

      <div class="title sliding" style="margin-left: 0px; left: 0px;">Pengaturan</div>
    </div>
  </div>
  
  <div class="page-content">    
    <div class="list no-hairlines-md" style="margin-top: 0px;margin-bottom: 5px;">
      <ul>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Nama</div>
              <div class="item-input-wrap">
                <input type="hidden" id="sid" name="sid">
                <input type="text" placeholder="Your name"/ id="snama">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">E-mail</div>
              <div class="item-input-wrap">
                <input type="email" placeholder="E-mail" id="semail" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" placeholder="Password" id="spass" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Telepon</div>
              <div class="item-input-wrap">
                <input type="tel" placeholder="telepon" id="sphone" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Jenis Kelamin</div>
              <div class="item-input-wrap">
                <select id="sgender">
                  <option value="0">Laki-Laki</option>
                  <option value="1">Perempuan</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Tanggal Lahir</div>
              <div class="item-input-wrap">
                <input type="date" placeholder="Birth day" value="2014-04-30" id="sbirth" />
              </div>
            </div>
          </div>
        </li>
      </ul>
      <p class="row">
        <a href="#" class="col button button-round button-fill" style="margin: 20px;" onclick="update()">Simpan</a>
      </p>

    </div>

  </div>
  </div>
</div>
